# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# IDE specific

*/.idea/
*/.idea/*
*/.idea/*.*

*/.vscode/
*/.vscode/*
*/.vscode/*.*

*/.vs/
*/.vs/*
*/.vs/*.*

*/.ccls-cache/
*/.ccls-cache/*
*/.ccls-cache/*.*

*/.clangd/
*/.clangd/*
*/.clangd/*.*

*/.cquery/
*/.cquery/*
*/.cquery/*.*

*/.ccls/
*/.ccls/*
*/.ccls/*.*

*/.cache/
*/.cache/*
*/.cache/*.*

*/.vscode-server/
*/.vscode-server/*
*/.vscode-server


# Misc

.DS_Store
ErrorManager/src/build/
ErrorManager/src/build/*
ErrorManager/src/build/*.*
ErrorManager/test/build/
ErrorManager/test/build/*
ErrorManager/test/build/*.*

# CMake

*/build/
*/build/*
*/build/*.*
build/
build/*
build/*.*
